.container {
    text-align: center;
}

.editor {
    text-align: center;
}


.heading {
    text-align: center;
    margin-left: 0px;
}

.textArea {
    height: 200px;
    width: 40%;
    margin: auto;
}

.Rbutton {
    border: none;
    border-color: 1px solid black;
    width: 10%;
    align-self: center;
    margin: auto;
    padding: 5px;
    border-radius: 10%;
    background-color: black;
    color: white;
    margin-left: 10px;
}